*~
*.swp
data
backup*
*.tar
.bundle/
Gemfile.lock
jq
keys
puppetboard/files/puppetboard-*.tar.gz
puppetboard/files/var/www/puppetboard/default_settings.py
puppetboard/ssl/
puppetdb/ssl/
puppetmaster/ssl/
puppetmaster/var/lib/puppet/ssl/
etcd-v*-linux-amd64.tar.gz
etcd-v*-linux-amd64/
ci/vars
/.scratch/
